.leaderboardContainer {
  text-align: center;
}

.header {
  font-size: 30px;
  font-family: "Proza Libre", sans-serif;
  font-weight: 400;
  margin: 10px;
}

.iconWrapper {
  margin: 20px 0;
}

.leaderboardIcon {
  font-size: 60px;
  color: #ffffff;
}

.emptyMessage {
  font-size: 16px;
  font-weight: 400;
  color: #f3e9e9;
}

.cardList {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 12px;
  padding: 18px;
  margin: 10px 0;
  width: 100%;
  max-width: 500px;
  display: flex;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cardRank {
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
  margin-right: 20px;
}

.avatarWrapper {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 20px;
}

.avatarIcon {
  font-size: 50px;
  color: #ffffff;
}

.cardContent {
  text-align: left;
}

.userName {
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  margin: 0;
}
