.question {
  font-size: 26px;
  margin-bottom: 20px;
  font-family: "Proza Libre", sans-serif;
}

.optionsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.optionButton {
  background-color: transparent;
  color: white;
  border: 2px solid white;
  border-radius: 50px;
  padding: 12px 24px;
  font-size: 14px;
  font-family: "Proza Libre", sans-serif;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  font-weight: 600;
  width: 200px;
  margin: 2px 0;
}

/* Styles for correct and incorrect answers */
.correct {
  background-color: rgba(0, 255, 0, 0.63);
  color: black;
  border-color: rgb(255, 255, 255);
}

.incorrect {
  background-color: lightcoral;
  color: black;
  border-color: rgb(255, 255, 255);
}

/* Adjust width for mobile */
@media (max-width: 768px) {
  .optionButton {
    width: 100%;
    margin: 10px 0;
  }

  .optionsContainer {
    flex-direction: column;
    gap: 0;

  }
  .question {
    font-size: 18px;
  }
}
